
.md-typeset .md-button-sol {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(0, 0, 0);
    background-color: rgba(78, 205, 196);
    border-color: rgba(34, 147, 243);
    font-weight: 700;
    border: .1rem solid rgba(78, 205, 196);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button-notes {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(34, 147, 243);
    background-color: rgba(34, 147, 243, 0.1);
    border-color: rgba(34, 147, 243);
    font-weight: 700;
    border: .1rem solid rgba(34, 147, 243);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button-link {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(0, 0, 0);
    background-color: rgb(242, 192, 120);
    border-color: rgb(242, 192, 120);
    font-weight: 700;
    border: .1rem solid rgb(242, 192, 120);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button-question {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(0, 0, 0);
    background-color: rgb(255, 107, 107);
    border-color: rgb(255, 107, 107);
    font-weight: 700;
    border: .1rem solid rgb(255, 107, 107);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button-movie {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(0, 0, 0);
    background-color: rgb(242, 192, 120);
    border-color: rgb(242, 192, 120);
    font-weight: 700;
    border: .1rem solid rgb(242, 192, 120);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset .md-button-important {
    display: inline-block;
    padding: .625em 2em;
    color: rgba(0, 0, 0);
    background-color: rgb(235, 49, 49);
    border-color: rgb(235, 49, 49);
    font-weight: 700;
    border: .1rem solid rgb(235, 49, 49);
    border-radius: .1rem;
    transition: color 125ms,background-color 125ms,border-color 125ms;
}

.md-typeset h1 {
  color: #000000;
}

.md-typeset h2 {
  color: #000000;
}

.md-typeset h3 {
  color: #000000;
}

.md-typeset h4 {
  color: #000000;
}


/*ol {
    counter-reset: list;
    margin: 0;
}

ol > li {
    list-style: none;
    position: relative;
}

ol > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4em;
}
*/

.md-footer{
  color: var(--md-footer-fg-color);
  background-color: rgb(34, 147, 243);
}

.md-typeset table:not([class]){
  font-size: 0.8rem;
  box-shadow: none;
}

.md-typeset table:not([class]) th{
  font-size: rem;
  color: #000;
  background-color: rgba(34, 147, 243, 0.2);
}

.md-typeset .admonition, .md-typeset details{
  font-size: 0.8rem;
  box-shadow: none;
}

:root {
  --md-admonition-icon--ph-movie: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-18A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2m-2 14.5l6-4.5-6-4.5v9z"/></svg>')
}
.md-typeset .admonition.ph-movie,
.md-typeset details.ph-movie {
  border-color: rgb(242, 192, 120);
}
.md-typeset .ph-movie > .admonition-title,
.md-typeset .ph-movie > summary {
  background-color: rgba(242, 192, 120, 0.1);
  border-left: .2rem solid rgb(242, 192, 120);
}
.md-typeset .ph-movie > .admonition-title::before,
.md-typeset .ph-movie > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(242, 192, 120);
  -webkit-mask-image: var(--md-admonition-icon--ph-movie);
          mask-image: var(--md-admonition-icon--ph-movie);
}

:root {
  --md-admonition-icon--ph-question: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 18h2v-2h-2v2m1-16A10 10 0 002 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-14a4 4 0 00-4 4h2a2 2 0 012-2 2 2 0 012 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5a4 4 0 00-4-4z"/></svg>')
}
.md-typeset .admonition.ph-question,
.md-typeset details.ph-question {
  border-color: rgb(78, 205, 196);
}
.md-typeset .ph-question > .admonition-title,
.md-typeset .ph-question > summary {
  background-color: rgba(78, 205, 196, 0.1);
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-question > .admonition-title::before,
.md-typeset .ph-question > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(78, 205, 196);
  -webkit-mask-image: var(--md-admonition-icon--ph-question);
          mask-image: var(--md-admonition-icon--ph-question);
}

:root {
  --md-admonition-icon--ph-solution: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.5 17l-5 5-3.5-3.5 1.5-1.5 2 2 3.5-3.5 1.5 1.5M12 9a3 3 0 013 3 3 3 0 01-3 3 3 3 0 01-3-3 3 3 0 013-3m0-4.5c5 0 9.27 3.11 11 7.5-.25.65-.56 1.26-.92 1.85a5.77 5.77 0 00-1.9-.73l.64-1.12a9.821 9.821 0 00-17.64 0A9.821 9.821 0 0012 17.5l1.21-.07c-.14.5-.21 1.03-.21 1.57v.46l-1 .04c-5 0-9.27-3.11-11-7.5 1.73-4.39 6-7.5 11-7.5z"/></svg>')
}
.md-typeset .admonition.ph-solution,
.md-typeset details.ph-solution{
  border-color: rgb(34, 147, 243);
}
.md-typeset .ph-solution > .admonition-title{
  border-left: .2rem solid rgb(34, 147, 243);
}
.md-typeset .ph-solution > summary {
  background-color: rgba(34, 147, 243, 0.1);
  border-left: .2rem solid rgb(34, 147, 243);
}
.md-typeset .ph-solution > .admonition-title::before,
.md-typeset .ph-solution > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(34, 147, 243);
  -webkit-mask-image: var(--md-admonition-icon--ph-solution);
          mask-image: var(--md-admonition-icon--ph-solution);
}

:root {
  --md-admonition-icon--ph-sol: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23.5 17l-5 5-3.5-3.5 1.5-1.5 2 2 3.5-3.5 1.5 1.5M12 9a3 3 0 013 3 3 3 0 01-3 3 3 3 0 01-3-3 3 3 0 013-3m0-4.5c5 0 9.27 3.11 11 7.5-.25.65-.56 1.26-.92 1.85a5.77 5.77 0 00-1.9-.73l.64-1.12a9.821 9.821 0 00-17.64 0A9.821 9.821 0 0012 17.5l1.21-.07c-.14.5-.21 1.03-.21 1.57v.46l-1 .04c-5 0-9.27-3.11-11-7.5 1.73-4.39 6-7.5 11-7.5z"/></svg>')
}
.md-typeset .admonition.ph-sol,
.md-typeset details.ph-sol{
  border-color: rgb(78, 205, 196);
}
.md-typeset .ph-sol > .admonition-title{
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-sol > summary {
  background-color: rgba(78, 205, 196, 0.1);
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-sol > .admonition-title::before,
.md-typeset .ph-sol > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(78, 205, 196);
  -webkit-mask-image: var(--md-admonition-icon--ph-sol);
          mask-image: var(--md-admonition-icon--ph-sol);
}

:root {
  --md-admonition-icon--ph-strategy: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M74 208H64a16 16 0 00-16 16v16a16 16 0 0016 16h15.94A535.78 535.78 0 0164 384h128a535.78 535.78 0 01-15.94-128H192a16 16 0 0016-16v-16a16 16 0 00-16-16h-10l33.89-90.38a16 16 0 00-15-21.62H144V64h24a8 8 0 008-8V40a8 8 0 00-8-8h-24V8a8 8 0 00-8-8h-16a8 8 0 00-8 8v24H88a8 8 0 00-8 8v16a8 8 0 008 8h24v32H55.09a16 16 0 00-15 21.62zm173.16 251.58L224 448v-16a16 16 0 00-16-16H48a16 16 0 00-16 16v16L8.85 459.58A16 16 0 000 473.89V496a16 16 0 0016 16h224a16 16 0 0016-16v-22.11a16 16 0 00-8.84-14.31zm92.77-157.78l-3.29 82.2h126.72l-3.29-82.21 24.6-20.79A32 32 0 00496 256.54V198a6 6 0 00-6-6h-26.38a6 6 0 00-6 6v26h-24.71v-26a6 6 0 00-6-6H373.1a6 6 0 00-6 6v26h-24.71v-26a6 6 0 00-6-6H310a6 6 0 00-6 6v58.6a32 32 0 0011.36 24.4zM384 304a16 16 0 0132 0v32h-32zm119.16 155.58L480 448v-16a16 16 0 00-16-16H336a16 16 0 00-16 16v16l-23.15 11.58a16 16 0 00-8.85 14.31V496a16 16 0 0016 16h192a16 16 0 0016-16v-22.11a16 16 0 00-8.84-14.31z"/></svg>')
}
.md-typeset .admonition.ph-strategy,
.md-typeset details.ph-strategy{
  border-color: rgb(78, 205, 196);
}
.md-typeset .ph-strategy > .admonition-title{
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-strategy > summary {
  background-color: rgba(78, 205, 196, 0.1);
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-strategy > .admonition-title::before,
.md-typeset .ph-strategy > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(78, 205, 196);
  -webkit-mask-image: var(--md-admonition-icon--ph-strategy);
          mask-image: var(--md-admonition-icon--ph-strategy);
}

:root {
  --md-admonition-icon--ph-xmas: url('data:image/svg+xml;charset=utf-8,<svg id="Capa_1" enable-background="new 0 0 512.102 512.102" height="512" viewBox="0 0 512.102 512.102" width="512" xmlns="http://www.w3.org/2000/svg"><g><g><path d="m218.092 137.302c-4.139 0-7.494 3.355-7.494 7.494v10.992c0 4.139 3.355 7.494 7.494 7.494s7.494-3.355 7.494-7.494v-10.992c0-4.139-3.355-7.494-7.494-7.494z"/><path d="m294.009 163.282c4.139 0 7.494-3.355 7.494-7.494v-10.992c0-4.139-3.355-7.494-7.494-7.494s-7.494 3.355-7.494 7.494v10.992c.001 4.139 3.355 7.494 7.494 7.494z"/><path d="m452.866 357.98c-.025-.273-.104-1.103-1.956-12.37-.002-.013-.006-.026-.009-.039-.002-.013-.002-.027-.004-.04-13.451-76.778-55.401-111.851-57.179-113.307-.357-.292-.741-.543-1.141-.762-1.33-19.383-6.828-43.941-22.112-70.284.194-2.716.297-5.456.297-8.22v-33.161c6.724-3.542 11.324-10.591 11.324-18.704v-11.362c0-11.074-8.566-20.168-19.417-21.049-1.624-2.285-4.107-5.551-7.503-9.448 7.457-1.055 14.56-2.504 20.718-3.965 4.756 9.485 14.567 16.014 25.88 16.014 15.955 0 28.936-12.981 28.936-28.936 0-15.956-12.981-28.937-28.936-28.937-9.391 0-17.748 4.5-23.038 11.453-7.185-3.675-14.573-6.971-22.121-9.843-3.863-1.47-8.196.47-9.668 4.339-1.471 3.868.47 8.197 4.339 9.669 7.443 2.832 14.713 6.116 21.776 9.778-.071.581-.128 1.166-.164 1.757-8.994 2.156-20.174 4.302-31.182 5.03-10.52-9.503-24.879-20.112-43.628-29.319 6.572.716 13.719 1.797 21.278 3.393 4.051.857 8.026-1.735 8.879-5.785.855-4.05-1.735-8.025-5.784-8.88-37.073-7.824-64.524-4.23-67.279-3.833-.35.041-.698.102-1.042.193-64.825 17.185-96.25 55.434-104.698 67.322-10.851.88-19.417 9.975-19.417 21.049v11.362c0 8.113 4.6 15.163 11.324 18.704v33.161c0 2.762.107 5.499.302 8.213-15.288 26.347-20.787 50.909-22.117 70.293-.4.219-.783.47-1.14.762-1.779 1.456-43.728 36.529-57.179 113.307-.002.012-.001.024-.003.036-.003.015-.007.028-.009.043-1.852 11.267-1.931 12.097-1.956 12.366-2.28 23.799 10.123 41.521 31.598 45.148 2.102.355 4.176.529 6.216.529 1.093 0 2.174-.053 3.244-.153.83 7.977 2.371 15.459 4.629 22.429 3.74 11.545 9.435 21.57 17.02 30.029-10.046 9.14-16.361 22.312-16.361 36.931 0 10.592 8.618 19.21 19.21 19.21h67.112c10.21 0 18.561-8.012 19.154-18.075 14.882 2.442 29.935 3.677 44.994 3.677 15.056 0 30.109-1.249 44.993-3.694.584 10.071 8.938 18.092 19.154 18.092h67.113c10.592 0 19.21-8.618 19.21-19.211 0-14.628-6.322-27.806-16.377-36.947 7.59-8.456 13.296-18.469 17.035-30.013 2.322-7.168 3.802-14.693 4.599-22.436-.021.201 8.941-.277 9.492-.37 21.47-3.628 33.873-21.35 31.594-45.146zm-51.101-329.583c7.692 0 13.949 6.258 13.949 13.949s-6.257 13.949-13.949 13.949-13.95-6.257-13.95-13.949 6.258-13.949 13.95-13.949zm-145.714-12.032c46.59 12.822 74.321 37.678 87.269 52.23h-174.598c12.87-14.534 40.504-39.35 87.329-52.23zm-111.048 73.366c0-3.39 2.758-6.148 6.148-6.148h209.799c3.391 0 6.149 2.758 6.149 6.148v11.362c0 3.39-2.758 6.149-6.149 6.149h-209.799c-3.39 0-6.148-2.758-6.148-6.149zm111.048 76.888c-11.641 0-21.953 4.689-28.247 11.859-7.235-.96-14.423-2.265-21.519-3.97-23.46-5.639-41.657-12.458-49.764-15.725-.114-1.929-.194-3.867-.194-5.825v-30.729h199.448v30.729c0 1.955-.072 3.894-.185 5.821-8.105 3.266-26.306 10.088-49.773 15.729-7.097 1.706-14.286 3.01-21.522 3.966-6.295-7.168-16.605-11.855-28.244-11.855zm19.697 28.183c0 7.152-9.021 13.195-19.697 13.195s-19.697-6.043-19.697-13.195c0-7.153 9.021-13.195 19.697-13.195s19.697 6.042 19.697 13.195zm-123.665-21.639c9.06 3.613 27.23 10.277 50.699 15.918 6.173 1.484 12.413 2.678 18.69 3.63-.063.691-.106 1.387-.106 2.091 0 15.539 15.559 28.182 34.684 28.182s34.684-12.642 34.684-28.182c0-.703-.043-1.397-.105-2.088 6.277-.952 12.516-2.15 18.69-3.634 23.468-5.641 41.638-12.305 50.699-15.918 21.214 39.289 18.918 73.23 16.279 88.232l-17.308-5.271c-2.271-.692-4.735-.267-6.644 1.147-1.908 1.413-3.033 3.647-3.033 6.021 0 7.725-3.256 18.471-9.416 31.077-9.352 19.139-23.495 34.766-40.897 45.192-10.709 6.417-21.058 11.215-30.758 14.261-7.976 2.506-16.407 2.506-24.384 0-9.699-3.046-20.047-7.844-30.757-14.261-5.34-3.199-10.442-6.941-15.164-11.122-3.098-2.744-7.834-2.456-10.578.643-2.744 3.098-2.456 7.835.643 10.578 5.411 4.792 11.265 9.084 17.396 12.758 11.719 7.022 23.148 12.305 33.968 15.703 5.458 1.714 11.071 2.571 16.684 2.571 5.612 0 11.227-.857 16.683-2.571 10.821-3.398 22.25-8.681 33.969-15.703 19.896-11.92 36.031-29.718 46.659-51.468 5.077-10.39 8.404-19.712 9.944-27.845l3.216.979c9.034 19.561 19.607 45.926 25.782 73.076-13.004 10.229-62.017 44.856-130.077 45.31h-12.2c-67.652-.444-117.053-35.071-130.206-45.322 6.178-27.144 16.748-53.508 25.775-73.068l3.202-.975c1.54 8.133 4.867 17.455 9.944 27.845 1.784 3.65 3.753 7.242 5.854 10.676 2.159 3.531 6.772 4.641 10.303 2.481 3.53-2.16 4.641-6.773 2.481-10.303-1.856-3.033-3.595-6.208-5.173-9.435-6.16-12.605-9.416-23.352-9.416-31.077 0-2.374-1.125-4.608-3.033-6.021-1.909-1.414-4.374-1.84-6.644-1.147l-17.308 5.271c-2.639-15-4.936-48.94 16.279-88.231zm-52.507 215.353c-1.921.237-3.997.211-6.247-.169-19.427-3.281-19.901-21.213-19.182-28.866.052-.388.237-1.58.495-3.195 6.842 1.901 17.067 4.741 26.806 7.447-1.222 8.666-1.845 16.929-1.872 24.783zm4.471-39.616c-13.904-3.863-22.046-6.125-26.802-7.446 6.895-33.582 19.612-57.732 29.374-72.373 4.791-7.185 9.322-12.797 12.964-16.892.456 5.91 1.222 10.758 1.933 14.302.72 3.596 2.937 6.736 6.082 8.615.273.163.558.302.84.444-3.445 7.816-6.999 16.432-10.399 25.637-6.255 16.931-10.913 32.845-13.992 47.713zm87.857 148.214h-67.112c-2.328 0-4.223-1.894-4.223-4.223 0-19.269 15.677-34.946 34.947-34.946h5.666c19.27 0 34.947 15.677 34.947 34.947-.001 2.328-1.896 4.222-4.225 4.222zm199.629-4.223c0 2.329-1.895 4.223-4.223 4.223h-67.113c-2.328 0-4.223-1.894-4.223-4.223 0-19.269 15.677-34.946 34.947-34.946h5.666c19.269 0 34.946 15.677 34.946 34.946zm1.388-71.579c-3.347 10.331-8.469 19.03-15.414 26.256-6.368-2.951-13.452-4.61-20.92-4.61h-5.666c-22.516 0-41.591 14.983-47.798 35.499-31.085 5.659-63.057 5.657-94.142.001-6.207-20.517-25.282-35.5-47.799-35.5h-5.666c-7.47 0-14.556 1.66-20.926 4.613-6.941-7.22-12.056-15.918-15.402-26.241-2.198-6.78-3.524-13.986-4.156-21.455 28.074 16.965 75.309 38.467 134.845 38.867h12.51c59.426-.4 106.624-21.901 134.688-38.867-.634 7.46-1.959 14.66-4.154 21.437zm-130.586 2.442h-12.408c-62.174-.418-110.219-25.341-135.149-41.747.003-.059.005-.118.009-.177.321-6.222.946-12.111 1.871-18.156.011-.071.023-.142.034-.213 20.24 14.371 69.197 43.576 133.284 43.997h12.299c64.346-.428 112.992-29.544 133.147-43.947.978 6.412 1.615 12.594 1.904 18.495-24.918 16.405-72.933 41.33-134.991 41.748zm121.402-148.243c.258-.132.519-.257.769-.406 3.145-1.879 5.362-5.019 6.082-8.614.711-3.545 1.477-8.394 1.932-14.306 11.702 13.183 32.708 42.254 42.341 89.267-4.753 1.32-12.906 3.586-26.801 7.446-5.505-26.852-15.271-52.904-24.323-73.387zm35.035 112.836c-2.264.382-4.347.397-6.278.153-.033-8.154-.703-16.454-1.864-24.762 9.746-2.708 19.983-5.552 26.829-7.453.258 1.616.444 2.809.495 3.196.718 7.649.247 25.585-19.182 28.866z"/></g></g></svg>')
}
.md-typeset .admonition.ph-xmas,
.md-typeset details.ph-xmas{
  border-color: rgb(78, 205, 196);
}
.md-typeset .ph-xmas > .admonition-title{
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-xmas > summary {
  background-color: rgba(78, 205, 196, 0.1);
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-xmas > .admonition-title::before,
.md-typeset .ph-xmas > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(78, 205, 196);
  -webkit-mask-image: var(--md-admonition-icon--ph-xmas);
          mask-image: var(--md-admonition-icon--ph-xmas);
}

:root {
  --md-admonition-icon--ph-notes: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.71 7.04c.39-.39.39-1.04 0-1.41l-2.34-2.34c-.37-.39-1.02-.39-1.41 0l-1.84 1.83 3.75 3.75M3 17.25V21h3.75L17.81 9.93l-3.75-3.75L3 17.25z"/></svg>')
}
.md-typeset .admonition.ph-notes,
.md-typeset details.ph-notes{
  border-color: rgb(34, 147, 243);
}
.md-typeset .ph-notes > .admonition-title {
  border-left: .2rem solid rgb(34, 147, 243);
}
.md-typeset .ph-notes > summary {
  background-color: rgba(34, 147, 243,0.1);
  border-left: .2rem solid rgb(34, 147, 243);
}
.md-typeset .ph-notes > .admonition-title::before,
.md-typeset .ph-notes > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(34, 147, 243);
  -webkit-mask-image: var(--md-admonition-icon--ph-notes);
          mask-image: var(--md-admonition-icon--ph-notes);
}

:root {
  --md-admonition-icon--ph-important: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 15h2v2h-2v-2m0-8h2v6h-2V7m1-5C6.47 2 2 6.5 2 12a10 10 0 0010 10 10 10 0 0010-10A10 10 0 0012 2m0 18a8 8 0 01-8-8 8 8 0 018-8 8 8 0 018 8 8 8 0 01-8 8z"/></svg>')
}
.md-typeset .admonition.ph-important,
.md-typeset details.ph-important{
  border-color: rgb(235, 49, 49);
}
.md-typeset .ph-important > .admonition-title,
.md-typeset .ph-important > summary {
  background-color: rgba(235, 49, 49, 0.1);
  border-left: .2rem solid rgb(235, 49, 49);
}
.md-typeset .ph-important > .admonition-title::before,
.md-typeset .ph-important > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(235, 49, 49);
  -webkit-mask-image: var(--md-admonition-icon--ph-important);
          mask-image: var(--md-admonition-icon--ph-important);
}

:root {
  --md-admonition-icon--ph-link: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 2l-5 4.5v11l5-4.5V2M6.5 5C4.55 5 2.45 5.4 1 6.5v14.66c0 .25.25.5.5.5.1 0 .15-.07.25-.07 1.35-.65 3.3-1.09 4.75-1.09 1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.31 4.75 1.06.1.05.15.03.25.03.25 0 .5-.25.5-.5V6.5c-.6-.45-1.25-.75-2-1V19c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V6.5C10.55 5.4 8.45 5 6.5 5z"/></svg>')
}
.md-typeset .admonition.ph-link,
.md-typeset details.ph-link {
  border-color: rgb(242, 192, 120);
}
.md-typeset .ph-link > .admonition-title,
.md-typeset .ph-link > summary {
  background-color: rgba(242, 192, 120, 0.1);
  border-left: .2rem solid rgb(242, 192, 120);
}
.md-typeset .ph-link > .admonition-title::before,
.md-typeset .ph-link > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(242, 192, 120);
  -webkit-mask-image: var(--md-admonition-icon--ph-link);
          mask-image: var(--md-admonition-icon--ph-link);
}

:root {
  --md-admonition-icon--ph-skill: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.33 12.91c.09 1.55-.62 3.04-1.89 3.95l.77 1.49c.23.45.26.98.06 1.45-.19.47-.58.84-1.06 1l-.79.25a1.687 1.687 0 01-1.86-.55L14.44 18c-.89-.15-1.73-.53-2.44-1.1-.5.15-1 .23-1.5.23-.88 0-1.76-.27-2.5-.79-.53.16-1.07.23-1.62.22-.79.01-1.57-.15-2.3-.45a4.105 4.105 0 01-2.43-3.61c-.08-.72.04-1.45.35-2.11-.29-.75-.32-1.57-.07-2.33C2.3 7.11 3 6.32 3.87 5.82c.58-1.69 2.21-2.82 4-2.7 1.6-1.5 4.05-1.66 5.83-.37.42-.11.86-.17 1.3-.17 1.36-.03 2.65.57 3.5 1.64 2.04.53 3.5 2.35 3.58 4.47.05 1.11-.25 2.2-.86 3.13.07.36.11.72.11 1.09m-5-1.41c.57.07 1.02.5 1.02 1.07a1 1 0 01-1 1h-.63c-.32.9-.88 1.69-1.62 2.29.25.09.51.14.77.21 5.13-.07 4.53-3.2 4.53-3.25a2.592 2.592 0 00-2.69-2.49 1 1 0 01-1-1 1 1 0 011-1c1.23.03 2.41.49 3.33 1.3.05-.29.08-.59.08-.89-.06-1.24-.62-2.32-2.87-2.53-1.25-2.96-4.4-1.32-4.4-.4-.03.23.21.72.25.75a1 1 0 011 1c0 .55-.45 1-1 1-.53-.02-1.03-.22-1.43-.56-.48.31-1.03.5-1.6.56-.57.05-1.04-.35-1.07-.9a.968.968 0 01.88-1.1c.16-.02.94-.14.94-.77 0-.66.25-1.29.68-1.79-.92-.25-1.91.08-2.91 1.29C6.75 5 6 5.25 5.45 7.2 4.5 7.67 4 8 3.78 9c1.08-.22 2.19-.13 3.22.25.5.19.78.75.59 1.29-.19.52-.77.78-1.29.59-.73-.32-1.55-.34-2.3-.06-.32.27-.32.83-.32 1.27 0 .74.37 1.43 1 1.83.53.27 1.12.41 1.71.4-.15-.26-.28-.53-.39-.81a1.038 1.038 0 011.96-.68c.4 1.14 1.42 1.92 2.62 2.05 1.37-.07 2.59-.88 3.19-2.13.23-1.38 1.34-1.5 2.56-1.5m2 7.47l-.62-1.3-.71.16 1 1.25.33-.11m-4.65-8.61a1 1 0 00-.91-1.03c-.71-.04-1.4.2-1.93.67-.57.58-.87 1.38-.84 2.19a1 1 0 001 1c.57 0 1-.45 1-1 0-.27.07-.54.23-.76.12-.1.27-.15.43-.15.55.03 1.02-.38 1.02-.92z"/></svg>')
}
.md-typeset .admonition.ph-skill,
.md-typeset details.ph-skill {
  border-color: rgb(78, 205, 196);
}
.md-typeset .ph-skill > .admonition-title,
.md-typeset .ph-skill > summary {
  background-color: rgba(78, 205, 196, 0.1);
  border-left: .2rem solid rgb(78, 205, 196);
}
.md-typeset .ph-skill > .admonition-title::before,
.md-typeset .ph-skill > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(78, 205, 196);
  -webkit-mask-image: var(--md-admonition-icon--ph-skill);
          mask-image: var(--md-admonition-icon--ph-skill);
}

:root {
  --md-admonition-icon--ph-goal: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11 2v2.07A8.002 8.002 0 004.07 11H2v2h2.07A8.002 8.002 0 0011 19.93V22h2v-2.07A8.002 8.002 0 0019.93 13H22v-2h-2.07A8.002 8.002 0 0013 4.07V2m-2 4.08V8h2V6.09c2.5.41 4.5 2.41 4.92 4.91H16v2h1.91c-.41 2.5-2.41 4.5-4.91 4.92V16h-2v1.91C8.5 17.5 6.5 15.5 6.08 13H8v-2H6.09C6.5 8.5 8.5 6.5 11 6.08M12 11a1 1 0 00-1 1 1 1 0 001 1 1 1 0 001-1 1 1 0 00-1-1z"/></svg>')
}
.md-typeset .admonition.ph-goal,
.md-typeset details.ph-goal{
  border-color: rgb(255, 107, 107);
}
.md-typeset .ph-goal > .admonition-title,
.md-typeset .ph-goal > summary {
  background-color: rgba(255, 107, 107,0.1);
  border-left: .2rem solid rgb(255, 107, 107);
}
.md-typeset .ph-goal > .admonition-title::before,
.md-typeset .ph-goal > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 107, 107);
  -webkit-mask-image: var(--md-admonition-icon--ph-goal);
          mask-image: var(--md-admonition-icon--ph-goal);
}

:root {
  --md-admonition-icon--ph-exam: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 1v2H5c-1.11 0-2 .89-2 2v14a2 2 0 002 2h14c1.11 0 2-.89 2-2V5a2 2 0 00-2-2h-1V1h-2v2H8V1H6M5 8h14v11H5V7m6 2v5h2V9h-2m0 7v2h2v-2h-2z"/></svg>')
}
.md-typeset .admonition.ph-exam,
.md-typeset details.ph-exam{
  border-color: rgb(255, 107, 107);
  border-left: .2rem solid rgb(255, 107, 107);
}
.md-typeset .ph-exam > .admonition-title,
.md-typeset .ph-exam > summary {
  background-color: rgba(255, 107, 107,0.1);
}
.md-typeset .ph-exam > .admonition-title::before,
.md-typeset .ph-exam > summary::before {
  top: 50%;
  transform: translateY(-50%);
  background-color: rgb(255, 107, 107);
  -webkit-mask-image: var(--md-admonition-icon--ph-exam);
          mask-image: var(--md-admonition-icon--ph-exam);
}


/**
 * termynal.js
 *
 * @author Ines Montani <ines@ines.io>
 * @version 0.0.1
 * @license MIT
 */

 :root {
  --color-bg: #252a33;
  --color-text: #eee;
  --color-text-subtle: #a2a2a2;
}

[data-termynal] {
  text-align: left;
  width: 750px;
  max-width: 100%;
  background: var(--color-bg);
  color: var(--color-text);
  font-size: 18px;
  font-family: "Roboto Mono", Consolas, Menlo, Monaco, "Courier New", Courier,
    monospace;
  border-radius: 4px;
  padding: 75px 45px 35px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

[data-termynal]:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* A little hack to display the window buttons in one pseudo element. */
  background: #d9515d;
  -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
  box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

[data-ty]:not([data-termynal]) {
  white-space: pre;
}
[data-ty] {
  display: block;
  line-height: 1.5;
}

[data-ty]:before {
  /* Set up defaults and ensure empty lines are displayed. */
  content: "";
  display: inline-block;
  vertical-align: middle;
}

[data-ty="input"]:before,
[data-ty-prompt]:before {
  margin-right: 0.75em;
  color: var(--color-text-subtle);
}

[data-ty="input"]:before {
  content: "$";
}

[data-ty][data-ty-prompt]:before {
  content: attr(data-ty-prompt);
}

[data-ty-cursor]:after {
  content: attr(data-ty-cursor);
  font-family: monospace;
  margin-left: 0.5em;
  -webkit-animation: blink 1s infinite;
  animation: blink 1s infinite;
}